@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@keyframes bg-anim {
	0%{background-position: 0% 25%;}
	25%{background-position: 50% 50%;}
	50%{background-position: 100% 100%;}
	75%{background-position: 50% 50%;}
	100%{background-position: 0% 25%;}
}

* {
	font-family: Ubuntu;
	font-size: 25px;
	text-align: center;
	user-select: none;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	box-shadow: inset 0 0 200px -25px rgba(56, 56, 56, 0.7);
	background: linear-gradient(-60deg, #fadce5, #ffd8f0, #e6d9ff, #daedff, #dffff2);
	background-size: 500% 200%;
	animation: bg-anim 60s linear infinite;
}

input[type=text], input[type=password] {
	height: 40px;
	text-indent: 5px;
	border: 2px solid gray;
	text-align: left;
	margin: 5px 0 10px 0;
	cursor: pointer;
	border-radius: 8px;
	transition: transform 0.2s ease-in-out;
}

input[type=text]:hover, input[type=password]:hover {
	transform: scale(1.025);
}

input[type=text]:focus, input[type=password]:focus {
	transform: scale(1.1);
}

button {
	border-radius: 8px;
	transition: transform 0.2s ease-in-out;
}

button:enabled {
	cursor: pointer;
}

button:hover:enabled {
	transform: scale(1.15);
	z-index: 0;
}

#page-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	box-shadow:0px 20px 50px 20px rgba(0,0,0,0.35) ;
	align-items: center;
	min-height: 785px;
	max-height: 785px;
	min-width: 550px;
	max-width: 550px;
	padding: 10px;
	background-color: whitesmoke;
}

#login-error-message, #register-error-message {
	font-size: 20px;
	margin: 10px 0 10px 0;
	color: crimson;
	visibility: hidden;
}

#game-title {
	font-size: 70px;
	padding: 0;
	margin: 15px 0 10px 0;
}

.screen-container {
	display: none;
	position: relative;
	padding-top: 10px;
	width: 100%;
}

#game-input-container {
	visibility: hidden;
	position: relative;
	margin-top: -130px;
	padding-top: 5px;
	background-color: whitesmoke;
}

.button-container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 10px;
}

.control-button {
	margin: 10px 5px 10px 5px;
	padding: 0 10px 0 10px;
	height: 40px;
	min-width: 150px;
}

.number-input-button {
	width: 50px;
	height: 50px;
	font-weight: bolder;
}

#board-container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	width: fit-content;
	height: fit-content;
	padding: 3px;
	margin: auto;
	background-color: rgb(167, 167, 167);
	border-radius: 10px;
}

.board-box {
	display: inherit;
	grid-template-columns: inherit;
	margin: 2px;
	padding: 3px;
	background-color: lightgray;
	border-radius: 10px;
}

.board-cell {
	background-color: white;
	width: 53px;
	height: 53px;
	transition: transform 0.2s ease-in-out;
	font-weight: bolder;
	margin: 1px;
}

.board-cell:enabled {
	border: 2px solid rgb(100, 100, 100);
}

.board-cell:disabled {
	background-color: whitesmoke;
	color: rgb(115, 115, 115);
}

.board-cell:focus:enabled {
	transform: scale(1.4, 1.4);
	z-index: 1;
}

#prompt-container {
	display: none;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 150%;
	height: 150%;
	background-color: rgb(0, 0, 0, 0.6);
	backdrop-filter: blur(6px);
}

#prompt-window {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	max-width: 490px;
	min-width: 490px;
	background-color: whitesmoke;
	border-radius: 20px;
}

#prompt-message {
	margin-bottom: 30px;
}